// .wrapper {
//   display: flex;
//   flex-direction: row;
// }

.tag {
  display: flex;
  width: auto;
  // padding: 0 8px;
  border-radius: 3px;
  background-color: var(--primary);
  align-items: center;
}
