.wrapper {
  // margin-top: 20px;
  padding: 1rem 0;
}

.tagList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.tag {
  margin: 3px;
  cursor: pointer;

  &:hover {
    color: white;
  }
}
