.wrapper {
  --margin: 3px;
  padding: 1rem 0;
}

.tagList {
  display: flex;
  flex-wrap: wrap;
  // max-height: calc((2.4rem + var(--margin) * 2) * 3);
  overflow-y: hidden;
}

.tag {
  margin: var(--margin);
  cursor: pointer;

  &:hover {
    color: white;
  }
}
