.wrapper {
}
.header {
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--primary);

  &:hover {
    color: var(--primary);
  }
}
.content {
  display: flex;
  flex-direction: row;
  margin-bottom: 3rem;
}

.menu {
  width: 10%;
}

.mainContent {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 5px;
  align-items: center;
  // justify-content: center;
  border: 1px solid var(--primary);
}
