.wrapper {
  display: flex;
  flex-direction: row;
  width: 600px;
  justify-content: space-between;
  align-items: center;
  & input {
    padding: 0 7px;
  }
}
.input {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 500px;
}
.inputContainer {
  display: flex;
  flex-direction: row;
  height: 1.4rem;
  margin-left: 2rem;
  align-items: center;
  gap: 5px;

  &:first-child {
    margin-left: 0;
  }
}
