.wrapper {
  display: flex;
  flex-direction: row;
  width: 600px;
  justify-content: space-between;
  align-items: center;
  & input {
    padding: 0 7px;
  }
}

.input {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 500px;
}

.dropdown {
  display: flex;
  flex-direction: column;
  gap: 2px;
  border: 1px solid gray;
}
