.wrapper {
  --row-gap: 25px;

  display: flex;
  flex-direction: column;
  gap: 5px;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.inputsRow {
  display: flex;
  flex-direction: row;
  gap: var(--row-gap);
}

.tagFilter {
  width: calc((100% - var(--row-gap)) / 2);
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
}
