.wrapper {
  border: 1px solid grey;
  border-radius: 4px;
}
.article {
  display: block;
  margin-top: 15px;
  text-align: start;
}
.title {
  font-size: 2rem;
}
.subject {
}
.tag {
}

.static {
  position: relative;
  margin-right: 5px;
  padding-right: 5px;
  border-right: 1px solid var(--text-color);

  &:last-child {
    border-right: none;
  }
}
