.wrapper {
  width: 100%;
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "repetition" "newArticles";
  gap: 10px;
}

.repetition {
  grid-area: "repetition";
}

.newArticles {
  grid-area: "newArticles";
}
